.linkedin-login-button {
    background-image: url('./Sign-In-Large---Default.png'); /* Imagen por defecto */
    background-size: cover; /* Para cubrir todo el botón */
    background-repeat: no-repeat; /* Para no repetir la imagen */
    border: none; /* Sin borde */
    width: 100%; /* Ancho completo */
    height: 50px; /* Altura deseada */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    color: white; /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
    text-align: center; /* Centra el texto */
    border-radius: 5px; /* Bordes redondeados */
    outline: none; /* Sin contorno */
  }
  
  /* Cambios de fondo según el estado */
  .linkedin-login-button.hover {
    background-image: url('./Sign-In-Large---Hover.png'); /* Imagen para hover */
  }
  
  .linkedin-login-button.active {
    background-image: url('./Sign-In-Large---Active.png'); /* Imagen para estado activo */
  }
  